<div class="shadow header">
  <div class="container">
    <div class="row align-items-center wrapper-menu">
      <div class="logo col-3"><i class="fa-solid fa-robot"></i></div>
      <nav class="col-9">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/nuevo-usuario']">Nuevo Usuario</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>